@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

#about {
  @include section;
  height: 100vh;

  @include smartphone-horizontal {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .about-container {
    @include grid-center;
    height: 100%;
    width: 100%;

    .text-container {
      @include grid-center;

      h2 {
        font-size: clamp(2rem, 5vw, 3rem);

        @include tablet-horizontal {
          margin-left: 5%;
        }
        @include tablet-vertical {
          margin-left: 5%;
        }
      }

      p {
        width: 75%;
        font-size: clamp(1rem, 5vw, 1.5rem);
        line-height: 1.8;

        @include tablet-horizontal {
          width: 90%;
          margin-left: 5%;
        }
        @include tablet-vertical {
          width: 90%;
          margin-left: 5%;
        }
      }

      .phrase {
        color: color.adjust($primary-font-color, $lightness: -20%);
        transition-property: color;
        transition-timing-function: ease;

        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.2s;
          }
        }

        &.active {
          color: color.adjust($primary-font-color, $lightness: 20%);
        }
      }
    }
  }
}
