@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

#blog {
  @include flex-center;
  @include section;
  padding-top: 10vh;

  .blog-container {
    width: 80%;
    padding: 50px;

    @include tablet-horizontal-large {
      width: 90%;
      padding: 50px;
    }

    a {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        color: color.adjust($primary-color, $lightness: -20%);
      }
    }

    .featured-article {
      margin-bottom: 50px;
      opacity: 0;

      h3 {
        @include blog-title(2.5rem);
        @include tablet-vertical {
          font-size: 2.2rem;
        }
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }

      img {
        @include article-img;
      }
    }

    // Smaller articles styles
    .smaller-articles {
      display: flex;
      justify-content: space-between;

      @include tablet-vertical {
        flex-direction: column;
      }

      .article {
        @include article;
        opacity: 0;

        @include tablet-vertical {
          margin-bottom: 20px;
        }

        h3 {
          @include blog-title(2rem);

          @include tablet-horizontal {
            font-size: 1.5rem;
          }
          @include tablet-vertical {
            font-size: 1.7rem;
          }
        }

        p {
          font-size: 1.1rem;
          margin-bottom: 15px;

          @include tablet-horizontal {
            font-size: 0.9rem;
          }
        }

        img {
          @include article-img;
        }
      }
    }
  }
}
