#logo {
  cursor: pointer;
}

/* Responsive styles */
/* Tablet */
@media screen and (max-width: 1025px) {
  .nav-left h1 {
    font-size: 1.5rem !important;
  }

  .main {
    width: 90%;
  }

  .featured-article h1 {
    font-size: 2.2rem;
  }

  .article h2 {
    font-size: 1.7rem;
  }

  .smaller-articles {
    flex-direction: column;
  }

  .article {
    margin-bottom: 20px;
  }
}

/* Smartphone Vertical */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 5%;
  }

  .nav-right a {
    margin-left: unset;
    margin-right: 20px;
  }

  .featured-article h1 {
    font-size: 1.5rem;
  }

  .featured-article p {
    font-size: 1rem;
  }

  .article {
    margin: 10px 0;
  }

  .article h2 {
    font-size: 1.3rem;
  }
}
