@use "variables" as *;

// Extends the common styles
@mixin full-screen-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: $background;
  color: $primary-font-color;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
